body {
    font-family: 'Prata', serif, 'Noto Serif TC', serif;
    color: #5e5845;
    background: #f5f4f3;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.5;
}

@media (min-width:0px) and (max-width:400px) {
    .space {
        background: white;
        top: 0vh!important;
        left: 0%!important;
        width: 100%!important;
        height: 500px!important;
        opacity: 90%;
        font-size:14px!important;
        position: relative!important;
        box-shadow: 1px 1px 1px 1px #0000002b;
        box-sizing: border-box;
        padding: 30px;
        animation: spa 1s infinite forwards;
        animation-iteration-count: 1;
    }
    .arrow{
        display: none;
    }
    @keyframes spa {
        0% {
            left: 100%;
            opacity: 0%;
        }

        100% {
            left: 0%;
            opacity: 90%;
        }
    }
    #webRow{
        margin-left:20px!important;
        
    }
    .arrow{
        display: none;
    }
    .flower {
        display: block;
        position: relative;
        width: 100%!important;
    }
    .media>img{
        display: none;
    }
    .webDesign {
        width: 250px;
        height: 250px;
    }

    .leafArrow {
        left: 35%;
    }


    .wrap {
        display: none;
    }

    .container{
        padding-left:0px!important;
    }
    .Mugshot{
        height: 70vh!important;
    }
    .bigTitle{
        font-size:20px!important;
      }
      .title{
        font-size:14px!important;
      }
      .text{
        font-size:12px!important;
        line-height:20px!important;
      }
      .vine {
        top: 340vh!important;
    }
    .modal{
        height:400vh!important;
    }
    .modalClose{
        top:370vh!important;
    }
    #img{
        padding-left:10px!important;
    }


}
@media (min-width:350px) and (max-width:489px) {
    .space {
        background: white;
        top: 0vh!important;
        left: 0%!important;
        width: 100%!important;
        height: 500px!important;
        opacity: 90%;
        font-size:14px!important;
        position: relative!important;
        box-shadow: 1px 1px 1px 1px #0000002b;
        box-sizing: border-box;
        padding: 30px;
        animation: spa 1s infinite forwards;
        animation-iteration-count: 1;
    }
    .arrow{
        display: none;
    }
    @keyframes spa {
        0% {
            left: 100%;
            opacity: 0%;
        }

        100% {
            left: 0%;
            opacity: 90%;
        }
    }
    .arrow{
        display: none;
    }
    .flower {
        display: block;
        position: relative;
        width: 100%!important;
    }
    .media>img{
        display: none;
    }
    .webDesign {
        width: 250px;
        height: 250px;
    }


    .leafArrow {
        left: 35%;
        display: flex;
        justify-content: space-around;
    }
    h5{
        font-size:14px;
    }
    .wrap {
        display: none;
    }

    .Mugshot{
        height: 70vh!important;
    }
    #webRow{
        margin-left:50px!important;
        
    }
    .bigTitle{
        font-size:20px!important;
      }
      .title{
        font-size:14px!important;
      }
      .text{
        font-size:12px!important;
        line-height:20px!important;
      }
      .vine {
        top: 220vh!important;
    }
    .modal{
        height:300vh!important;
    }
    .modalClose{
        top:280vh!important;
    }

}
@media (min-width:490px) and (max-width:559px) {
    .space {
        background: white;
        top: 0vh!important;
        left: 0%!important;
        width: 100%!important;
        height: 480px!important;
        opacity: 90%;
        position: relative!important;
        box-shadow: 1px 1px 1px 1px #0000002b;
        box-sizing: border-box;
        padding: 30px;
        animation: spa 1s infinite forwards;
        animation-iteration-count: 1;
    }

    @keyframes spa {
        0% {
            left: 100%;
            opacity: 0%;
        }

        100% {
            left: 0%;
            opacity: 90%;
        }
    }
    .media>img{
        display: none;
    }
    .arrow{
        display: none;
    }
    .flower {
        display: block;
        position: relative;
        width: 100%!important;
    }
    .leafArrow {
        left: 35%;
    }
    .wrap {
        display: none;
    }

    .Mugshot{
        height: 70vh!important;
    }
    #webRow{
        margin-left:50px!important;
    }
    .vine {
        top: 250vh!important;
    }
    .modal{
        height:350vh!important;
    }
    .modalClose{
        top:330vh!important;
    }



  
}

@media (min-width:560px) and (max-width:768px) {
    .flower {
        display: none;
    }

    .wrap {
        display: none;
    }
    .leafArrow {
        left: 35%;
    }
    .wrap {
        display: none;
    }

      #webRow{
        margin-left:50px!important;
    }
    .vine {
        top: 200vh!important;
    }
    .modal{
        height:310vh!important;
    }
    .modalClose{
        top:290vh!important;
    }



}

@media (min-width:769px) and (max-width:960px) {
    .flower {
        display: none;
    }
    .wrap {
        display: none;
    }
    .webDesign {
        width: 250px;
        height: 250px;
    }
    /* .row{
        flex-wrap: nowrap;
        margin-left:50px!important;
    } */
    .vine {
        top: 120vh!important;
    }
    .modal{
        height:250vh!important;
    }
    .modalClose{
        top:230vh!important;
    }


}

@media (min-width:960px) and (max-width:1119px) {
    .flower {
        display: none;
    }
    .wrap {
        display: none;
    }
    #webRow{
        flex-wrap: nowrap;
    }
    .webDesign {
        width: 300px;
        height: 300px;
    }

}
    /* .modalcontain{
        float: left;
    }

    .modal{
        height: 220vh;
        overflow:auto;
    }
} */

@media (min-width:1000px) and  (max-width:1500px) {

    #webRow{
        flex-wrap: nowrap;
    }
    .wrap {
        display: none;
    }
    .webDesign {
        width: 350px;
        height: 350px;
    }

}

@media (min-width:1499px) {
    .webDesign {
        width: 350px;
        height: 350px;
    }
    #webRow{
        flex-wrap: nowrap;
    }

}

