body{
    margin:0;
}
table{
    margin:1rem;
    display:inline-block;
}
table,tr,td{
    border:1px solid #000;
}
td{
    width: 200px;
    height: 200px;
    padding:0px;
}
.a{
    background-color: red;
}
.b{
    background:url("https://picsum.photos/50/50/?random=1") no-repeat 100%/100%;
}
.c{
    background:url("https://picsum.photos/50/50/?random=1") repeat-x;
}
.d{
    background:url("https://picsum.photos/50/50/?random=1") repeat-y;
}
.e{
    background:url("https://picsum.photos/50/50/?random=1") no-repeat center;
}
.e{
    background:url("https://picsum.photos/50/50/?random=1") no-repeat center;
}
.f{
    background:url("https://picsum.photos/50/50/?random=1") no-repeat center wheat;
}

.g{
    /* 複合屬性 */
    background:url("https://picsum.photos/200/50/?random=1")no-repeat top,
    url("https://picsum.photos/200/100/?random=2")no-repeat 1px 50px,
    url("https://picsum.photos/200/50/?random=1")no-repeat bottom;

}

.h{
    background-image:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,35,255,1) 100%); 
/* 0edg = to right */
}
.i{
    background-image:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(149,149,149,1) 51%, rgba(255,255,255,1) 100%);

}