body {
    padding-top:50px;
    background: #ccc;
    display: flex;
    justify-content: center;
  }
.squ1{
    border:solid rgb(255, 108, 108) 5px;
    position: absolute;
    width:500px;
    height: 500px;
}
.squ2{
    border:solid rgb(92, 136, 255) 5px;
    position: absolute;
    width:400px;
    height: 400px;
    top: 9%;
    left: 9%;
}
.squ3{
    border:solid rgb(108, 255, 103) 5px;
    position: absolute;
    width:280px;
    height: 280px;
    top: 13%;
    left: 13%;

}
.cir1{
    background: rgb(255, 108, 108);
    border-radius: 50%;
    position: absolute;
    width:50px;
    height:50px;
}
.cir2{
    background: rgb(92, 136, 255);
    border-radius: 50%;
    position: absolute;
    width:50px;
    height:50px;
}
.cir3{
    background: rgb(108, 255, 103);
    border-radius: 50%;
    position: absolute;
    width:50px;
    height:50px;
}
.cir4{
    background: rgb(75, 75, 75);
    border-radius: 50%;
    position: absolute;
    width:25px;
    height:25px;
    top: 48%;
    left: 48%;
}