.box{
    width:100%;
    height:50vh;
}
.bg1{
    background: lightskyblue;
}
.bg2{
    background: greenyellow;
}

@media(min-width:768px){
.box{
    width:50%;
    height: 50vh;
    float:left;
}
}