@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
  height: 100vh;
  background:radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

}
.word-container{
  display: none;
}
.big-cloud-container{
  position: relative;
}




/* .BigCloudOne>svg{
position: absolute; 
background-size: 

 
    
} */