@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
  width: 100vh;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: border-box;
  background:radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
  text-align: center;
  position: relative;
}
.word-container{
  display: none;
}





.BigCloudOne{
 position: absolute;
 top: 90%;
 transform: scaleY(1.5);

 
    
}