body{
    background:url("4791008.jpg");
    margin: 0;
    display:flex;
    height:100vh;
    flex-direction: column;
    justify-content:center;

}
#clock1{
    width:740px;
    height:100px;
    /* background:url("bg.png"); */
    margin:20px auto;
    display:flex;
    padding:10px;
    justify-content:center;
}

#clock1 div{
    display: inline-flex;
}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c0{
    width:100px;
    height:100px;
    background: url('clock-01.png');
}

.cc{
    width: 50px;
    height:100px;
    background: url('clock-01.png');
    background-position: 50px;
    margin:0 10px;
}
.c1{background-position: 0px;}
.c2{background-position: -100px;}
.c3{background-position: -200px;}
.c4 {background-position: -300px;}
.c5 {background-position: -400px;}
.c6 {background-position: -500px;}
.c7 {background-position: 450px;}
.c8 {background-position: 350px;}
.c9 {background-position: 250px;}
.c0 {background-position: 150px;}


